* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #364fc7;
    font-family: 'Roboto Flex', sans-serif;
}

div.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: #fff solid 4px;
}

h1 {
    color: #fff;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

p.username {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    opacity: 0.8;
    font-weight: 400;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4263eb;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    border-radius: 6px;
    transition: background-color 400ms;
}

ul li a:hover {
    background-color: #354fc7;
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    opacity: 0.6;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}
